<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" name="name">
      <textarea name="content">Write Blog content here...</textarea>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
